<html>
  <head>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src='static/form.js' type='text/javascript'></script>	
    <link rel='stylesheet' type='text/css' href='static/form.css'>
    
    <link href="static/barIndicator/css/bi-style.css" rel="stylesheet" />
	<script src="static/barIndicator/jquery-barIndicator.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
  </head>

	<body>
		<h1> You Got Mail! </h1>
	    <form action='javascript:getFormData()'>
	    	<input name='firstname' id='firstname' type='text' placeholder='First Name' class='left'/><span class='required'>*</span>
	    	<input name='middlename' id='middlename' type='text' placeholder='Middle Name'/>
	    	<input name='lastname' id='lastname' type='text' placeholder='Last Name' class='left'/><span class='required'>*</span>
	    	<input name='linkedin' id='linkedin' type='text' placeholder='LinkedIn URL'/>
	    	<input name='github' id='github' type='text' placeholder='Github URL' class='left'/>
	    	<input name='angellist' id='angellist' type='text' placeholder='Angel List URL'/>
	    	<input name='twitter' id='twitter' type='text' placeholder='Twitter URL' class='left'/>
	    	<input name='facebook' id='facebook' type='text' placeholder='Facebook URL'/>
	    	<input name='domains' id='domains' type='text' placeholder='Domains (seperate domains by comma)' class='left'/>
			<input name='submit' type='submit' value='Submit'/>
		</form>
		<div id='loading'><img src='https://s-media-cache-ak0.pinimg.com/originals/2d/68/07/2d68078caa90b5daf647642e75813ec8.gif'/></div>
		<div id='ratings'></div>
	</body>
</html>